@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kilka drobnych bazowych styli, żeby było ładniej od razu */
:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-800 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
